<!-- <ng-container *ngIf="flag">
    <p>primero works!</p>
</ng-container>

<button id="btn">Click here</button>
<br>

<h1>NG-Container</h1>
<ng-container  *ngFor="let pais of paises; let i=index;">
    <span>País: {{pais.nombre}}</span>
    <br>
    <span>ID: {{pais.id}}</span>
    <br>
    <span>Orden: {{i}}</span>
    <br>
</ng-container>
<br>
<h1>NG-Switch</h1>
<ng-container *ngFor="let item of platillos">
    <div [ngSwitch]="item.pais">
        <span *ngSwitchCase="PAISES.MEXICO">México -- {{item.platillo}}</span>
        <span *ngSwitchCase="PAISES.JAPON">Japón -- {{item.platillo}}</span>
        <span *ngSwitchCase="PAISES.RUSIA">Rusia -- {{item.platillo}}</span>
        <span *ngSwitchDefault>No definido</span>
    </div>
</ng-container>

-->

<!--

<h1 appColor [color] = "'red'" [size] = "'90px'" [fontStyle] = "'Italic'" [dynamicColor]="'blue'" [sizeFont] = "'200px'">Prueba</h1>
<h1 appColor [color] = "'aqua'" [size] = "'70px'" [fontStyle] = "'Arial'">Prueba1</h1>

-->

<h1 id="texto" #texto>Dorian</h1>
